PIPELINE_FAST_PATH=true
BATCH_SIZE=1000
QUEUE_HIGH_WATERMARK=4
QUEUE_LOW_WATERMARK=2
INSERT_MAX_CONCURRENT=2
FILES_MAX_CONCURRENT=4
DB_POOL_MAX=10
DB_POOL_MIN=2
DB_POOL_IDLE_MS=60000
DB_QUERY_TIMEOUT_MS=0
DB_HOST=localhost
DB_USER=user
DB_PASSWORD=pass
DB_NAME=diretorio
DB_PORT=3306
